{% extends "base.html" %}

  {% block title %}Contact Details{% endblock %}
  {% block content %}

  

  <div class="row">
    <div class="col-md-8">
      <h2 class="text-center">Existing Contact List</h2>

      <table class="table table-hover table-striped table-bordered" id="dataTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Bank Name</th>
            <th>Person Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Dept</th>
            <th>Is Primary</th>
            <!-- Add other table column headers here -->
          </tr>
        </thead>
        <tbody>
          {% for record in contact_data %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[6] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
            <td>{{ record[4] }}</td>
            <td>{{ record[5] }}</td>
            <!-- Add other table data here -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <h2 class="text-center">Add New Record</h2>
      <div class="card p-4">
        <form method="POST">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="tel" class="form-control" id="phone" name="phone">
          </div>
          <div class="form-group">
            <label for="dept">Dept:</label>
            <input type="text" class="form-control" id="dept" name="dept">
          </div>
          <div class="form-group">
            <label for="is_primary">Is Primary:</label>
            <input type="checkbox" class="form-control" id="is_primary" name="is_primary">
          </div>
          <div class="form-group">
            <label for="bankname">Bank Name:</label>
            <select class="form-control" id="bankname" name="bankname">
              {% for bank in banklist %}
              {% set bank = bank[0] %} <!-- Extract the value from the tuple -->
              <option value="{{ bank }}">{{ bank }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
