{% extends "base.html" %}

{% block title %}Custom Query{% endblock %}

{% block content %}
<div class="container">
    <h1>Query Form</h1>
    <form method="POST">
        <div class="form-group">
            <label for="query">Query</label>
            <textarea class="form-control" id="query" name="query" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if table_data %}
        <table class="table table-hover table-striped table-bordered table-responsive">
            <thead class="thead-light">
                <tr>
                    {% for column_header in table_data[0].keys() %}
                            <th>{{ column_header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_data %}
                    <tr>
                        {% for column_header, value in row.items() %}
                                <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
